<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="travel content">
      <h2>All Itineraries</h2>
      <% if (posts.length > 0){ %> <% posts.forEach(post => { %>

      <h3 class="title"><%= post.title %></h3>
      <p class="snippet"><%= post.snippet%></p>

      <% }) %> <% } else { %>
      <p>There are no itineraries to display...</p>
      <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
