<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
   
    <%- include('./partials/nav.ejs') %>

    <div class="travel content">
      <h2>All Itineraries</h2>
      <% if (plans.length > 0){ %> 
        <% plans.forEach(plan => { %>

      <h3 class="title"><%= plan.title %></h3>
      <p class="snippet"><%= plan.snippet%></p>

      <% }) %> 
      <% } else { %>
      <p>There are no itineraries to display...</p>
      <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
